* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  header {
    z-index: 1;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  header a img {
    float: left;
    height: 75%;
    margin-top: 10px;
    width: 56%;
    vertical-align: middle;
    border: rgba(255, 255, 255, 0.87) solid;
    border-radius: 20px;
    margin-left: 75px;
  }
  
  #c_name {
    position: absolute;
    color: white;
    padding: 2% 2%;
    font-size: 200%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 17px rgb(255, 255, 255);
  }
  
  @media screen and (max-width: 768px) {
    header #c_name {
      display: none;
    }
  }
  
  header ul {
    list-style: none;
    padding: 2% 2%;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
  }
  
  header ul a {

    color: #ffffff;
    font-weight: 500;
    font-size: 116%;
    padding: 10px 13px;
    text-decoration: none;
    transition: all 0.5s;
  }
  

  #arr {
    background: url("https://cdn.iconscout.com/icon/free/png-64/right-arrow-1438234-1216195.png")
      no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-left: -5px;
    width: 15px;
    height: 15px;
  }

  /* Main Content */
  
  main {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    background: transparent;
  }
  
  #front {
    height: auto;
    width: 100%;
    padding: 3% 0%;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  }
  
  #front h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 250%;
    text-shadow: 1px 1px 20px rgb(221, 166, 16);
  }
  
  #front p {
    margin-top: -8%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 130%;
    padding: 0px 10%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.04cm;
  }
  
  #front img {
    margin-top: -5%;
    height: 70%;
    width: 70%;
  }
  
  #first {
    width: 90%;
    height: auto;
    padding: 5% 5%;
    background: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;
  }
  
  #first div {
    text-align: left;
  }
  
  /* inovative font */
  #first p {
    font-size: 120%;
    padding-top: 3%;
    color: rgb(255, 255, 255);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  }
  
  #first h2 {
    padding: 2%;
    padding-top: 4%;
  }
  
  #first h1 {
    padding: 0;
  }
  
  .comm {
    width: 100%;
    background: rgb(247, 189, 189);
    height: 2%;
    padding: 0.5%;
  }
  
  #comm1 {
    width: 0%;
    height: 100%;
    background: rgb(255, 23, 23);
    transition: all 5s ease;
  }
  
  .reveal.active #comm1 {
    width: 90%;
  }
  
  .reveal.active #comm2 {
    width: 85%;
  }
  
  .reveal.active #comm3 {
    width: 70%;
  }
  
  #comm2 {
    width: 0%;
    height: 100%;
    background: rgb(241, 44, 44);
    transition: all 5s ease;
  }
  
  #comm3 {
    width: 0%;
    height: 100%;
    background: rgb(250, 61, 61);
    transition: all 5s ease;
  }
  
  #second {
    width: 90%;
    height: auto;
    padding: 0px 5%;
    padding-top: 7%;
    background: transparent;
    transition: 1s all;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
  
  .container {
    display: flex;
    text-align: left;
    line-height: 200%;
  }
  
  .container img {
    width: 30%;
    height: 20%;
    margin-top: 5%;
  }
  
  .container h1 {
    font-size: 220%;
  }
  
  .container h2 {
    padding-top: 1%;
    font-size: 170%;
  }
  
  .container p {
    font-size: 110%;
    padding-top: 1%;
  }
  
  #third {
    width: 100%;
    height: auto;
    margin-top: 5%;
    /* background: rgba(31, 90, 252, 0.856); */
    background: rgba(255, 255, 255, 0.897);
    padding: 5% 0%;
  }
  
  #third h1,
  h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #third_cards {
    display: flex;
    justify-content: space-around;
    padding: 5%;
  }
  
  #third_cards div {
    margin: 0% 2%;
    padding: 2% 2%;
    /* background: linear-gradient(30deg, skyblue, lightgreen); */
    border-radius: 20px;
    line-height: 160%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #third_cards div:hover {
    color: white;
  }
  
  #third_cards div:before {
    content: "";
    position: absolute;
    margin-top: -28px;
    height: 41%;
    width: 26.5%;
    margin-left: -23px;
    border-radius: 20px;
    z-index: 1;
    opacity: 0.2;
  }
  #third_cards div:hover:before {
    background: rgb(255, 255, 255);
  }
  
  #third_cards div h2 {
    padding: 8% 0px;
    font-size: 140%;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
  #third_cards div p {
    font-size: 120%;
    text-align: center;
    color: rgb(234, 255, 247);
  }
  
  #fourth {
    height: auto;
    width: 100%;
    padding: 4% 0%;
    /* background: rgba(3, 91, 255, 0.822); */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  #fourth h2,
  h1 {
    text-align: center;
    padding: 2% 20%;
  }
  
  #fourth_cards {
    display: flex;
    justify-content: space-evenly;
    padding: 1% 5%;
  }
  
  #fourth_cards div {
    margin: 0% 1%;
    padding: 5% 5%;
    color: white;
    background: repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255),
      rgb(13, 69, 0, 0.74) 50%
    );
    text-align: center;
    transition: all 0.5s ease;
  }
  
  #fourth_cards div p {
    padding-top: 20px;
    font-weight: bolder;
  }
  
  #fourth_cards div:hover {
    background: linear-gradient(
      40deg,
      rgb(13, 69, 0, 0.74) 100%,
      rgba(13, 69, 0, 0.74) 100%
    );
    border-bottom-right-radius: 10%;
    border-left: 2px rgb(255, 255, 255) solid;
    border-bottom: 2px rgb(255, 255, 255) solid;
  }
  
  #fifth {
    background: rgb(5, 134, 219);
    padding: 50px 40px;
  }
  
  #fifth div {
    display: flex;
    justify-content: space-around;
  }
  
  #fifth a {
    display: flex;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    margin: 0px 1%;
  }
  
  #fifth img {
    margin-right: 7%;
  }
  
  #fifth h1 {
    font-size: 230%;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    padding-bottom: 5%;
    color: rgb(255, 255, 255);
  }
  
  /* FOOTER */
  #foote {
    display: flex;
    justify-content: space-around;
    padding: 0px 50px;
    padding-top: 20px;
  }
  #foote ul {
    height: auto;
    width: 100%;
    padding-left: 5%;
    list-style: none;
  }
  
  #foote ul li {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 110%;
    padding: 5% 2%;
    text-decoration: none;
  }
  
  #foote ul li a:before {
    content: "";
    width: 0%;
    margin-top: 25px;
    height: 2px;
    z-index: 1;
    position: absolute;
    background: rgb(255, 127, 127);
    transition: all 0.2s ease-in;
  }
  
  #foote li a:hover:before {
    width: 5.7%;
  }
  
  li a {
    color: white;
    text-decoration: none;
  }
  
  li a:hover {
    color: rgb(157, 183, 255);
  }
  
  #foote div {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  #foote div h2 {
    padding: 5%;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  #foote div span a {
    padding: 10px 10px;
    transition: all 2s;
  }
  
  #foote div span a img {
    padding: 0.5%;
    height: 80%;
    width: 10%;
  }
  
  #foote div span a :hover {
    transform: rotate(10deg);
  }
  
  .reveal {
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
  }
  
  .reveal.active {
    transform: translateY(0px);
    opacity: 1;
  }
  
  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150vh; /* Adjust height as needed */
    /* background: #f5f5f5; */
}

.section-container {
    align-items: center;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 100px; /* Adjust margin-bottom as needed */
    background-color: white;
    padding: 40px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); 
    margin-top: 40px;
}

.section-container p {
    color: #333;
    font-weight: 500;
    font-size: larger;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 200px; /* Adjust margin-top as needed */
}

.text {
    font-size: 48px;
    font-weight: 700;
    color: #1b8b00;
}

.underline {
    width: 100px;
    height: 5px;
    background: #1b8b00;
    border-radius: 9px;
    margin: auto;
}

.input img {
    margin: 0px 30px;
}

.gray {
    background: #eaeaea;
    color: #797979;
}

.logo {
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 80px;
    font-weight: 700;
    color: #1b8b00;
}

.logoText {
    margin: 0px 30px;
    font-weight: 700;
    color: #1b8b00;
    text-shadow: 1px 1px 2px rgb(208, 240, 200); 
}

.logoImg {
    margin: 0px 30px;
    width: 200px;
    height: auto;
    /* center the logo */
    align-items: center;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    
  }
  
  /* Adjust card styles if needed */
  .card {
    width: 18rem;
    margin-right: 20px;
    margin-left: 20px;
  }
  